select, input {
    outline: none !important;
}

.shop-now {
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 4px;
    transition: all .3s ease;
}

.shop-now:hover {
     background: #000;
     color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}