* {
    margin: 0;
    font-family: 'Urbanist', sans-serif;
}

select, input {
    outline: none !important;
}

.shop-now {
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 4px;
    transition: all .3s ease;
}

.shop-now:hover {
     background: #000;
     color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.go-to-cart {
    padding: 10px 15px;
    color: #232323;
    border: 2px solid #232323;
    background-color: transparent;
    font-weight: 500;
    transition: background-color .2s ease-in-out, color .3s ease-in-out;
}

.go-to-cart:hover {
     background-color: #232323;
     color: #fff;
}

.go-to-cart:active {
     background-color: #232323;
}